<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.calculateanything</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>02CB4726-DF90-475A-835E-0038EE019394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>03AE9542-EE54-423A-86E0-9B669EDE5A98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAE2385A-3F7A-4CAE-8A23-EA406D2F5E6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA18E77-71E3-494A-8735-A60799F419B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E64DA99-DFCC-402C-9A49-EE8584E96A66</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>886C10B6-25CA-49B0-96F9-014B795AB902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A003B52-98B8-4E6C-927C-1A463F47C612</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>211A2F0B-BCFD-4FBD-B058-548162E358B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0AE30FF8-13F7-4710-AFC3-157281E66B88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3219AA0-A1F6-4A6B-92EE-70A840B69D23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CC668AD-747C-458A-B587-773D841610C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AE30FF8-13F7-4710-AFC3-157281E66B88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35605323-7862-4781-94FE-ED0261247FB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D4DB816-B39C-482D-80EA-3F64F3DF1644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEA519D6-6B0A-4B4A-9B56-917B28B78090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65F736EC-3B8C-4B6D-BE2C-837A63AC34A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B5446AC-124D-4626-92C3-D0CA1D94D27F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B6A13A8-C671-4033-A793-EE772BA1FB48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>810259C6-0B1F-4440-99F4-7821B5226D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>886C10B6-25CA-49B0-96F9-014B795AB902</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA1F80D-6781-4CB6-AA39-92C8A5D8BD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92A43CD2-2690-4939-8B4C-7ACD21A03287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B97B9DE-FB12-4F5A-AAF8-4608DF0C7B14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0989369-5B29-47E2-9CBC-8E61EEBB04C7</key>
		<array/>
		<key>ABA18E77-71E3-494A-8735-A60799F419B9</key>
		<array/>
		<key>B65669C2-6057-4003-B79B-2AEFB92E07CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03AE9542-EE54-423A-86E0-9B669EDE5A98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB2A4C00-3D9B-43BD-957F-AFF92B5A1DCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D037BED7-D145-4DEB-8419-84840F408A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0EBB9BB-23B4-4BF8-9776-01D12130DC2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA1F80D-6781-4CB6-AA39-92C8A5D8BD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D29D156D-3EB3-4E6A-97D4-DE50834BBDAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B65669C2-6057-4003-B79B-2AEFB92E07CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEA519D6-6B0A-4B4A-9B56-917B28B78090</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A003B52-98B8-4E6C-927C-1A463F47C612</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEEA362A-4FDA-454E-9BC6-57B0F3C9FC10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3AAE2B3-FF23-4D07-86EE-A0CC4CD28B8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA1F80D-6781-4CB6-AA39-92C8A5D8BD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0989369-5B29-47E2-9CBC-8E61EEBB04C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3219AA0-A1F6-4A6B-92EE-70A840B69D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA18E77-71E3-494A-8735-A60799F419B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E6EE1059-41B2-44F0-8CA8-80D391CD9E2D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>886C10B6-25CA-49B0-96F9-014B795AB902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>61049157-B5E3-45CE-BD81-CC1F48846B99</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4152C5E-D88F-4318-908F-77079A6EB867</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>089A18AA-A5E0-47F3-931C-5510AC8FCF8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D0EBB9BB-23B4-4BF8-9776-01D12130DC2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BAA617C6-73D4-49BC-A79E-EB478FA1BAFD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E3AAE2B3-FF23-4D07-86EE-A0CC4CD28B8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Biati Digital</string>
	<key>description</key>
	<string>Calculate Anything</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calculate Anything</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>0</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "0{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>02CB4726-DF90-475A-835E-0038EE019394</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>1</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "1{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "2{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D037BED7-D145-4DEB-8419-84840F408A48</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>3</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "3{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B97B9DE-FB12-4F5A-AAF8-4608DF0C7B14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>4</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "4{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B5446AC-124D-4626-92C3-D0CA1D94D27F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>5</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "5{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BB2A4C00-3D9B-43BD-957F-AFF92B5A1DCB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>6</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "6{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B6A13A8-C671-4033-A793-EE772BA1FB48</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>7</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "7{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>92A43CD2-2690-4939-8B4C-7ACD21A03287</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>8</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "8{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>810259C6-0B1F-4440-99F4-7821B5226D70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>9</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$query = "9{query}";
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35605323-7862-4781-94FE-ED0261247FB2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>iva</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Calculating...</string>
				<key>script</key>
				<string>$query = "{query}";
$action = 'vat';
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a value to calculate VAT</string>
				<key>title</key>
				<string>Calculate VAT</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65F736EC-3B8C-4B6D-BE2C-837A63AC34A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ABA18E77-71E3-494A-8735-A60799F419B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>time</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Calculating Time...</string>
				<key>script</key>
				<string>$query = "{query}";
$action = 'time';
include_once "./process.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Calculate Time</string>
				<key>title</key>
				<string>Calculate Time</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEEA362A-4FDA-454E-9BC6-57B0F3C9FC10</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>include_once "./workflow/lib/update.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>886C10B6-25CA-49B0-96F9-014B795AB902</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>update</string>
						<key>outputlabel</key>
						<string>Clipboard</string>
						<key>uid</key>
						<string>1E64DA99-DFCC-402C-9A49-EE8584E96A66</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Calculate Anything</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BEA1F80D-6781-4CB6-AA39-92C8A5D8BD82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>menu</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B4152C5E-D88F-4318-908F-77079A6EB867</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clipboard</string>
						<key>outputlabel</key>
						<string>Clipboard</string>
						<key>uid</key>
						<string>E6EE1059-41B2-44F0-8CA8-80D391CD9E2D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update</string>
						<key>outputlabel</key>
						<string>Update</string>
						<key>uid</key>
						<string>61049157-B5E3-45CE-BD81-CC1F48846B99</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>menu</string>
						<key>outputlabel</key>
						<string>Menu</string>
						<key>uid</key>
						<string>089A18AA-A5E0-47F3-931C-5510AC8FCF8B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clear_cache</string>
						<key>outputlabel</key>
						<string>Clear cache</string>
						<key>uid</key>
						<string>BAA617C6-73D4-49BC-A79E-EB478FA1BAFD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F3219AA0-A1F6-4A6B-92EE-70A840B69D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>menu</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2CC668AD-747C-458A-B587-773D841610C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ca</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>&lt;?php
$query = "{query}";
require_once './workflow/lib/config/configuration.php';</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Calculate Anything...</string>
				<key>title</key>
				<string>Calculate Anything</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0AE30FF8-13F7-4710-AFC3-157281E66B88</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>include_once "./workflow/lib/clear.php";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0EBB9BB-23B4-4BF8-9776-01D12130DC2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>notifier</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D29D156D-3EB3-4E6A-97D4-DE50834BBDAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:message}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DAE2385A-3F7A-4CAE-8A23-EA406D2F5E6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>B65669C2-6057-4003-B79B-2AEFB92E07CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>message</key>
					<string>{var:split2}</string>
					<key>title</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03AE9542-EE54-423A-86E0-9B669EDE5A98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');

Application('com.runningwithcrayons.Alfred').setConfiguration($.getenv('configure_key'), {
	inWorkflow: $.getenv('alfred_workflow_bundleid'),
	toValue: $.getenv('configure_val'),
	exportable: false
});</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0989369-5B29-47E2-9CBC-8E61EEBB04C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>&lt;?php
require_once './workflow/lib/config/process-input.php';</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3AAE2B3-FF23-4D07-86EE-A0CC4CD28B8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3D4DB816-B39C-482D-80EA-3F64F3DF1644</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');

function setVariable(key, val, exportable) {
	Application('com.runningwithcrayons.Alfred').setConfiguration(key, {
		inWorkflow: $.getenv('alfred_workflow_bundleid'),
		toValue: val,
		exportable: exportable,
	});
}


function removeVariable(key) {
	Application('com.runningwithcrayons.Alfred').removeConfiguration(key, {
  		inWorkflow: $.getenv('alfred_workflow_bundleid')
	});
}


function run(argv) {
	var key = $.getenv('configure_key');
	var value = $.getenv('configure_val');
	var exportable = $.getenv('configure_exportable') === 'true';
	var deleteVar = false;

	try {
	    deleteVar = $.getenv('configure_remove') === 'true';
	} catch (e) {
    		deleteVar = false;
	}

	if (deleteVar) {
		removeVariable(key);
	} else {
		setVariable(key, value, exportable);
	}

}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>211A2F0B-BCFD-4FBD-B058-548162E358B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>DEA519D6-6B0A-4B4A-9B56-917B28B78090</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>configure_exportable</key>
					<string>{var:split3}</string>
					<key>configure_key</key>
					<string>{var:split1}</string>
					<key>configure_remove</key>
					<string>{var:split4}</string>
					<key>configure_val</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A003B52-98B8-4E6C-927C-1A463F47C612</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Calculate Anything

https://github.com/biati-digital/alfred-calculate-anything
Made with love by https://www.biati.digital</string>
	<key>uidata</key>
	<dict>
		<key>02CB4726-DF90-475A-835E-0038EE019394</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>03AE9542-EE54-423A-86E0-9B669EDE5A98</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1770</integer>
		</dict>
		<key>03F82D1C-9ACF-4789-91FD-9CCF291DEFFE</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1360</integer>
		</dict>
		<key>0A003B52-98B8-4E6C-927C-1A463F47C612</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>0AE30FF8-13F7-4710-AFC3-157281E66B88</key>
		<dict>
			<key>note</key>
			<string>Configuration</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1535</integer>
		</dict>
		<key>211A2F0B-BCFD-4FBD-B058-548162E358B4</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>1860</integer>
		</dict>
		<key>2679D5D4-9D36-4AD4-A1EE-59EACA36C6E9</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>2CC668AD-747C-458A-B587-773D841610C7</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1535</integer>
		</dict>
		<key>35605323-7862-4781-94FE-ED0261247FB2</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1095</integer>
		</dict>
		<key>3D4DB816-B39C-482D-80EA-3F64F3DF1644</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1860</integer>
		</dict>
		<key>65F736EC-3B8C-4B6D-BE2C-837A63AC34A3</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1225</integer>
		</dict>
		<key>6B5446AC-124D-4626-92C3-D0CA1D94D27F</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>6B6A13A8-C671-4033-A793-EE772BA1FB48</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>810259C6-0B1F-4440-99F4-7821B5226D70</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>975</integer>
		</dict>
		<key>886C10B6-25CA-49B0-96F9-014B795AB902</key>
		<dict>
			<key>note</key>
			<string>Update</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>1350</integer>
		</dict>
		<key>92A43CD2-2690-4939-8B4C-7ACD21A03287</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>9B97B9DE-FB12-4F5A-AAF8-4608DF0C7B14</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>A0989369-5B29-47E2-9CBC-8E61EEBB04C7</key>
		<dict>
			<key>note</key>
			<string>Save Alfred variable</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>1775</integer>
		</dict>
		<key>ABA18E77-71E3-494A-8735-A60799F419B9</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>1225</integer>
		</dict>
		<key>B4152C5E-D88F-4318-908F-77079A6EB867</key>
		<dict>
			<key>note</key>
			<string>Return to Menu</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>1500</integer>
		</dict>
		<key>B65669C2-6057-4003-B79B-2AEFB92E07CE</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>1770</integer>
		</dict>
		<key>BB2A4C00-3D9B-43BD-957F-AFF92B5A1DCB</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>BEA1F80D-6781-4CB6-AA39-92C8A5D8BD82</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>1495</integer>
		</dict>
		<key>D037BED7-D145-4DEB-8419-84840F408A48</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>D0EBB9BB-23B4-4BF8-9776-01D12130DC2A</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>D29D156D-3EB3-4E6A-97D4-DE50834BBDAD</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>DAE2385A-3F7A-4CAE-8A23-EA406D2F5E6A</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>1740</integer>
		</dict>
		<key>DEA519D6-6B0A-4B4A-9B56-917B28B78090</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>DEEA362A-4FDA-454E-9BC6-57B0F3C9FC10</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>E3AAE2B3-FF23-4D07-86EE-A0CC4CD28B8C</key>
		<dict>
			<key>note</key>
			<string>Process variable</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>1775</integer>
		</dict>
		<key>F3219AA0-A1F6-4A6B-92EE-70A840B69D23</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1530</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>base_currency</key>
		<string>[\"MXN\"]</string>
		<key>coinmarket_apikey</key>
		<string>c823b5ee-7ca5-4823-8f98-a200e5fd7041</string>
		<key>fixer_apikey</key>
		<string>65fa43c123a096c17dbd903c2b0adbe9</string>
		<key>fixer_apikey_apilayer</key>
		<string>3IwfT4vc7Pa3fy2Dv8qykk6WsyN1w3Pz</string>
		<key>fixer_apisource</key>
		<string></string>
		<key>language</key>
		<string>es_ES</string>
		<key>last_update_check</key>
		<string>1653779649</string>
		<key>settings_migrated</key>
		<string>true</string>
		<key>time_format</key>
		<string>["j F, Y, g:i:s a"]</string>
		<key>time_zone</key>
		<string>America/Mexico_City</string>
		<key>vat_percentage</key>
		<string>16%</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>time_format</string>
		<string>time_zone</string>
		<string>vat_percentage</string>
		<string>fixer_apikey_apilayer</string>
		<string>base_currency</string>
		<string>language</string>
		<string>last_update_check</string>
		<string>coinmarket_apikey</string>
		<string>fixer_apisource</string>
		<string>fixer_apikey</string>
		<string>settings_migrated</string>
	</array>
	<key>version</key>
	<string>3.4.0</string>
	<key>webaddress</key>
	<string>https://github.com/biati-digital/alfred-calculate-anything</string>
</dict>
</plist>
